<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
metadata-complete="false"
version="3.0">

    <display-name>Dashboard</display-name>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <!--
        TODO remove this section on deployment
        The following parameter fixes a Jetty problem in windows
        where the JS and HTML files gets locked while the server
        is running.
    -->
    <servlet>
        <servlet-name>default</servlet-name>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>ca.ailurus.dashboard.Api</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ca.ailurus.dashboard.Dashboard</servlet-name>
        <servlet-class>ca.ailurus.dashboard.Dashboard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ca.ailurus.dashboard.Welcome</servlet-name>
        <servlet-class>ca.ailurus.dashboard.Welcome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ca.ailurus.dashboard.Welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ca.ailurus.dashboard.Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ca.ailurus.dashboard.Dashboard</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
</web-app>