<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>ca.ailurus.boss.server.WelcomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>machineServiceImpl</servlet-name>
        <servlet-class>ca.ailurus.boss.server.MachineServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>applicationServiceImpl</servlet-name>
        <servlet-class>ca.ailurus.boss.server.ApplicationServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>userServiceImpl</servlet-name>
        <servlet-class>ca.ailurus.boss.server.UserServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>machineServiceImpl</servlet-name>
        <url-pattern>/boss/machine</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>applicationServiceImpl</servlet-name>
        <url-pattern>/boss/app</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userServiceImpl</servlet-name>
        <url-pattern>/boss/user</url-pattern>
    </servlet-mapping>
</web-app>
