<article class="container">
    <section class="row">
        <div class="col-xs-12">
            <h2 class="page-header">App Store
            <small>
                Search or browse by category to find new apps to install
            </small>
            </h2>
        </div>
    </section>
    <br>
    <br>
    <section class="row">
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-sm-8 col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="sr-only" for="searchInput">
                        Search for an app
                    </label>
                    <div>
                        <div class="input-group input-group-lg">
                            <input class="form-control"
                                   type="text"
                                   id="searchInput"
                                   data-ng-model="keyword"
                                   placeholder="Search by name or category">
                    <span class="input-group-btn">
                        <a href="#/store/search/{{keyword|urlencode}}"
                           role="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            Search
                        </a>
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2 hidden-xs"></div>
    </section>
    <br>
    <section class="row" data-ng-show="featuredApps.length > 0">
        <div class="col-sm-1 hidden-xs"></div>
        <div class="col-sm-10 col-xs-12">
            <h3 class="page-header">
                Featured Apps
            </h3>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 apps-app-container" data-ng-repeat="app in featuredApps">
                    <div class="media" data-ng-show="app.installed">
                        <div class="media-left">
                            <a data-ng-href="{{app.appUrl}}" >
                                <img data-ng-src="{{app.imageUrl}}" alt="{{app.name}}" height="64px" width="64px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{app.name}}
                                <small><a href="#/apps" class="label label-info">Installed</a></small>
                            </h4>
                            {{app.description}}
                        </div>
                    </div>
                    <div class="media" data-ng-show="!app.installed">
                        <div class="media-left">
                            <img data-ng-src="{{app.imageUrl}}" alt="{{app.name}}" height="64px" width="64px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{app.name}}</h4>
                            {{app.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs"></div>
    </section>
</article>