<article class="container">
    <section class="row">
        <div class="col-xs-12">
            <h2 class="page-header">App Store
            <small>
                Search or browse by category to find new apps to install
            </small>
            </h2>
        </div>
    </section>
    <br>
    <br>
    <section class="row">
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-sm-8 col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="sr-only" for="searchInput">
                        Search for an app
                    </label>
                    <div>
                        <div class="input-group input-group-lg">
                            <input class="form-control"
                                   type="text"
                                   id="searchInput"
                                   data-ng-model="keyword"
                                   data-ng-keypress="searchOnEnter($event)"
                                   placeholder="Search by name or category">
                    <span class="input-group-btn">
                        <button role="button" class="btn btn-primary"
                                data-ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2 hidden-xs"></div>
    </section>
    <br>
    <section class="row" data-ng-show="featuredApps.length > 0">
        <div class="col-sm-1 hidden-xs"></div>
        <div class="col-sm-10 col-xs-12">
            <h3 class="page-header">
                Featured Apps
            </h3>
            <div class="list-group">
                <div class="list-group-item" data-ng-repeat="app in featuredApps">
                    <div class="media" data-ng-show="app.installed">
                        <div class="media-left">
                            <img data-ng-src="{{app.imageUrl}}" alt="{{app.name}}"
                                 class="media-object" height="64px" width="64px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{app.name}}
                                <small><a href="#/apps" class="label label-success">Installed</a></small>
                            </h4>
                            {{app.description}}
                        </div>
                    </div>
                    <div class="media" data-ng-show="!app.installed && app.progress >= 0">
                        <div class="media-left">
                            <img data-ng-src="{{app.imageUrl}}" alt="{{app.name}}"
                                 class="media-object" height="64px" width="64px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{app.name}}
                                <small><span class="label label-info">Installing</span></small>
                            </h4>
                            {{app.description}}

                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped"
                                     role="progressbar"
                                     aria-valuenow="{{app.progress}}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{app.progress}}%;">
                                    {{app.progress}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media" data-ng-show="!app.installed && app.progress < 0">
                        <div class="media-left">
                            <img data-ng-src="{{app.imageUrl}}" alt="{{app.name}}"
                                 class="media-object" height="64px" width="64px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{app.name}}
                                <small><span class="label label-default">Not Installed</span></small>
                            </h4>
                            {{app.description}}
                        </div>
                        <div class="media-right media-middle">
                            <button class="btn btn-primary" data-ng-click="install(app)">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                Install
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs"></div>
    </section>
</article>