@media (min-width: 768px) {
    .navbar .navbar-nav.navbar-center {
        display: inline-block;
        float: none;
        vertical-align:bottom;
    }

    .navbar .navbar-collapse.navbar-center-parent {
        text-align: center;
    }
}

.properties dd {
    margin-left: 10px;
    margin-bottom: 5px;
}

.app-container  .img-responsive {
    max-height: 130px;
    padding-top: 20px;
    margin: 0 auto;
}
