/*
FIXME this constant should ideally be encoded as a class
*/
@media (min-width: 768px) {
    .navbar .navbar-nav.navbar-center {
        display: inline-block;
        float: none;
        vertical-align:bottom;
    }

    .navbar .navbar-collapse.navbar-center-parent {
        text-align: center;
    }
}

.properties dd {
    margin-left: 10px;
    margin-bottom: 5px;
}

.search-result-icon {
    max-height: 100px;
    max-width: 100px;
}

.search-results-header {
    margin-top: 10px;
}
